:root {
    --primary:purple;
    --secondary:yellow;
    --dark: black;
    --light: white;
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: sans-serif ;

}
body {
    background-color: var( --light);
    
}

.container{
  width: 276px;
  height: 555px;
  background: #fff;
  border-radius: 30px;
  border: 2px solid rgba(0,0,0,.3);
  box-sizing: border-box;
  box-shadow: inset 0 0 8px rgba(0,0,0,.3);
    
    align-items: center;
    justify-content: center;
}
.calculator{
    width: 100%;
    max-width: 400px;
    background-color: aliceblue;
    border-radius: 16px;
    overflow:hidden;
    box-shadow: 0px 2px 64px rgba(0, 0, 0, 0.2);
}
.display {
  padding: 16px;
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 24px;
  font-weight: 300;
  height: 80px;
  
}
.display span {
  font-size: 20px;
  color: grey;

}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  /* display: none; */
  /* position: absolute; */
  /* background-color: #f1f1f1; */
  /* min-width: 160px; */
  
}


.menu-btn__burger {
  margin-top: 5px;
  width: 50px;
  height: 6px;
  background: whitesmoke;
  border-radius: 5px;
 
  transition: all .5s ease-in-out;
}

button{
  appearance: none;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  padding: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {

  opacity: 0.9;
}

.operators {
display: flex;
}

.operators button {
  flex: 1 1 0%;
  background-color: var(--primary) ;
  font-weight: 700;
}

.digits{
  display: flex;
  flex-wrap: wrap;
}
.digits button {
  flex: 1 1 33.333%;
  height: 103px;
  /* max-width: 33.333%; */
  background-color: var(--dark);
}